<!DOCTYPE html>
<html>
	<head>
		<title>Integers</title>
	<head>
	<style>
		body{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 80vh;
		}
		table{
			border: 1px solid black;
			margin: auto;
		}
		th, td{
			border: 1px solid black;
			width: 200px;
		}
	</style>
	<body>
		<table>
				<caption>
					The Numbers
				</caption>
				<tbody>
					<tr>
						<th>The first number is</th>
						<td>{{x}}</td>
					</tr>
					<tr>
						<th>The second number is</th>
						<td>{{y}}</td>
					</tr>
				</tbody>
			</table>
	</body>
</html>
